In [1]:
!ls output

condition_occurrence.Cough_3031.0x1189f8df0.2022-03-09T170602.tsv
condition_occurrence.Dizziness_3030.0x1185ccc70.2022-03-09T170601.tsv
condition_occurrence.Fatigue_3029.0x1186e6400.2022-03-09T170600.tsv
condition_occurrence.Fever_3032.0x1189f8cd0.2022-03-09T170603.tsv
condition_occurrence.Headache_3028.0x1178dc370.2022-03-09T170559.tsv
condition_occurrence.Hypertensive_disorder_3050.0x11782e1f0.2022-03-09T170612.tsv
condition_occurrence.Ischemic_heart_disease_3049.0x1176a2dc0.2022-03-09T170611.tsv
condition_occurrence.Mental_disorder_3047.0x11897b5e0.2022-03-09T170608.tsv
condition_occurrence.Mental_health_problem_3046.0x11782e820.2022-03-09T170606.tsv
condition_occurrence.Muscle_pain_3033.0x1178dc220.2022-03-09T170603.tsv
condition_occurrence.Pneumonia_3042.0x11782e370.2022-03-09T170604.tsv
condition_occurrence.Type_2_diabetes_mellitus_3048.0x11962c370.2022-03-09T170610.tsv
drug_exposure.COVID_19_vaccine_3034.0x1184f8520.2022-03-09T170614.tsv
drug_exposure.COVID_19_vaccine_3035.0x11782e760.2022-03-09T170615.tsv
drug_exposure.COVID_19_vaccine_3036.0x118c3f2b0.2022-03-09T170617.tsv
drug_exposure.SARS_CoV_2_COVID_19_vaccine_mRNA_1273_0_2_MG_ML_Injectable_Suspension_3040.0x118c2f970.2022-03-09T170618.tsv
drug_exposure.SARS_CoV_2_COVID_19_vaccine_mRNA_BNT162b2_0_1_MG_ML_Injectable_Suspension_3041.0x1177f5310.2022-03-09T170619.tsv
observation.2019_nCoV_3044.0x1186e6340.2022-03-09T170556.tsv
observation.Antibody_3027.0x116c0b250.2022-03-09T170555.tsv
observation.Cancer_3045.0x117b5d0d0.2022-03-09T170557.tsv
observation.H_O_heart_failure_3043.0x1186e6400.2022-03-09T170556.tsv
person.FEMALE_3026.0x116c0bb20.2022-03-09T170553.tsv
person.MALE_3025.0x11719e8e0.2022-03-09T170551.tsv
person_ids.0x113d65f40.2022-03-09T170553.tsv
person_ids.0x116c0b8e0.2022-03-09T170551.tsv

In [2]:
import coconnect
coconnect.params['debug_level'] = 0
import glob

In [3]:
inputs = coconnect.tools.load_tsv(glob.glob("output/*.tsv"))
inputs

In [4]:
#outputs = coconnect.tools.create_csv_store(output_folder=,sep='\t',write_mode='w',write_separate=False)

In [5]:
cdm = coconnect.cdm.CommonDataModel.from_existing(inputs=inputs,
                                                  do_mask_person_id=False,
                                                  format_level=0)
cdm

In [6]:
cdm.process()

2022-03-09 17:30:48 - CommonDataModel - ERROR - Removed 31 row(s) due to duplicates found when merging condition_occurrence
2022-03-09 17:30:48 - CommonDataModel - ERROR - Removed 13 row(s) due to duplicates found when merging observation

In [7]:
cdm.keys()

dict_keys(['person', 'condition_occurrence', 'drug_exposure', 'observation'])

In [8]:
cdm['person'].dropna(axis=1)

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,gender_source_value,gender_source_concept_id
0,54906,8532,1969,7,14,1969-07-14 00:00:00.000000,Female,8532
1,54907,8532,1980,7,11,1980-07-11 00:00:00.000000,Female,8532
2,54908,8532,1965,7,15,1965-07-15 00:00:00.000000,Female,8532
3,54909,8532,1974,7,13,1974-07-13 00:00:00.000000,Female,8532
4,54910,8532,1953,7,18,1953-07-18 00:00:00.000000,Female,8532
...,...,...,...,...,...,...,...,...
99501,54901,8507,1948,7,19,1948-07-19 00:00:00.000000,Male,8507
99502,54902,8507,1972,7,13,1972-07-13 00:00:00.000000,Male,8507
99503,54903,8507,1915,7,28,1915-07-28 00:00:00.000000,Male,8507
99504,54904,8507,1942,7,21,1942-07-21 00:00:00.000000,Male,8507
99505,54905,8507,1909,7,29,1909-07-29 00:00:00.000000,Male,8507

In [9]:
cdm.filter([{
    'person':{
                'gender_concept_id':8507,
                'year_of_birth':{'<':1990}
            }
     },{
    'measurement':{
                'measurement_concept_id':37398191,
                  }
     }
])

      person_id gender_concept_id year_of_birth month_of_birth day_of_birth  \
0         54906              8532          1969              7           14
1         54907              8532          1980              7           11
2         54908              8532          1965              7           15
3         54909              8532          1974              7           13
4         54910              8532          1953              7           18
...         ...               ...           ...            ...          ...
99501     54901              8507          1948              7           19
99502     54902              8507          1972              7           13
99503     54903              8507          1915              7           28
99504     54904              8507          1942              7           21
99505     54905              8507          1909              7           29

                   birth_datetime race_concept_id ethnicity_concept_id  \
0      1969-07-14 00:00:00.000000             NaN                  NaN
1      1980-07-11 00:00:00.000000             NaN                  NaN
2      1965-07-15 00:00:00.000000             NaN                  NaN
3      1974-07-13 00:00:00.000000             NaN                  NaN
4      1953-07-18 00:00:00.000000             NaN                  NaN
...                           ...             ...                  ...
99501  1948-07-19 00:00:00.000000             NaN                  NaN
99502  1972-07-13 00:00:00.000000             NaN                  NaN
99503  1915-07-28 00:00:00.000000             NaN                  NaN
99504  1942-07-21 00:00:00.000000             NaN                  NaN
99505  1909-07-29 00:00:00.000000             NaN                  NaN

      location_id provider_id care_site_id person_source_value  \
0             NaN         NaN          NaN                 NaN
1             NaN         NaN          NaN                 NaN
2             NaN         NaN          NaN                 NaN
3             NaN         NaN          NaN                 NaN
4             NaN         NaN          NaN                 NaN
...           ...         ...          ...                 ...
99501         NaN         NaN          NaN                 NaN
99502         NaN         NaN          NaN                 NaN
99503         NaN         NaN          NaN                 NaN
99504         NaN         NaN          NaN                 NaN
99505         NaN         NaN          NaN                 NaN

      gender_source_value gender_source_concept_id race_source_value  \
0                  Female                     8532               NaN
1                  Female                     8532               NaN
2                  Female                     8532               NaN
3                  Female                     8532               NaN
4                  Female                     8532               NaN
...                   ...                      ...               ...
99501                Male                     8507               NaN
99502                Male                     8507               NaN
99503                Male                     8507               NaN
99504                Male                     8507               NaN
99505                Male                     8507               NaN

      race_source_concept_id ethnicity_source_value  \
0                        NaN                    NaN
1                        NaN                    NaN
2                        NaN                    NaN
3                        NaN                    NaN
4                        NaN                    NaN
...                      ...                    ...
99501                    NaN                    NaN
99502                    NaN                    NaN
99503                    NaN                    NaN
99504                    NaN                    NaN
99505                    NaN                    NaN

      ethnicity_source_concept_id
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
...                           ...
99501                         NaN
99502                         NaN
99503                         NaN
99504                         NaN
99505                         NaN

[99506 rows x 18 columns]
      person_id gender_concept_id year_of_birth month_of_birth day_of_birth  \
0         54906              8532          1969              7           14
1         54907              8532          1980              7           11
2         54908              8532          1965              7           15
3         54909              8532          1974              7           13
4         54910              8532          1953              7           18
...         ...               ...           ...            ...          ...
99501     54901              8507          1948              7           19
99502     54902              8507          1972              7           13
99503     54903              8507          1915              7           28
99504     54904              8507          1942              7           21
99505     54905              8507          1909              7           29

                   birth_datetime race_concept_id ethnicity_concept_id  \
0      1969-07-14 00:00:00.000000             NaN                  NaN
1      1980-07-11 00:00:00.000000             NaN                  NaN
2      1965-07-15 00:00:00.000000             NaN                  NaN
3      1974-07-13 00:00:00.000000             NaN                  NaN
4      1953-07-18 00:00:00.000000             NaN                  NaN
...                           ...             ...                  ...
99501  1948-07-19 00:00:00.000000             NaN                  NaN
99502  1972-07-13 00:00:00.000000             NaN                  NaN
99503  1915-07-28 00:00:00.000000             NaN                  NaN
99504  1942-07-21 00:00:00.000000             NaN                  NaN
99505  1909-07-29 00:00:00.000000             NaN                  NaN

      location_id provider_id care_site_id person_source_value  \
0             NaN         NaN          NaN                 NaN
1             NaN         NaN          NaN                 NaN
2             NaN         NaN          NaN                 NaN
3             NaN         NaN          NaN                 NaN
4             NaN         NaN          NaN                 NaN
...           ...         ...          ...                 ...
99501         NaN         NaN          NaN                 NaN
99502         NaN         NaN          NaN                 NaN
99503         NaN         NaN          NaN                 NaN
99504         NaN         NaN          NaN                 NaN
99505         NaN         NaN          NaN                 NaN

      gender_source_value gender_source_concept_id race_source_value  \
0                  Female                     8532               NaN
1                  Female                     8532               NaN
2                  Female                     8532               NaN
3                  Female                     8532               NaN
4                  Female                     8532               NaN
...                   ...                      ...               ...
99501                Male                     8507               NaN
99502                Male                     8507               NaN
99503                Male                     8507               NaN
99504                Male                     8507               NaN
99505                Male                     8507               NaN

      race_source_concept_id ethnicity_source_value  \
0                        NaN                    NaN
1                        NaN                    NaN
2                        NaN                    NaN
3                        NaN                    NaN
4                        NaN                    NaN
...                      ...                    ...
99501                    NaN                    NaN
99502                    NaN                    NaN
99503                    NaN                    NaN
99504                    NaN                    NaN
99505                    NaN                    NaN

      ethnicity_source_concept_id
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
...                           ...
99501                         NaN
99502                         NaN
99503                         NaN
99504                         NaN
99505                         NaN

[99506 rows x 18 columns]
here
None
None
here

TypeError: 'NoneType' object is not subscriptable